.form__fieldset {
    border-color: hsl(39, 83%, 50%);
    border-radius: 10px;
    background-color: hsla(227, 9%, 20%, 0.637);
    margin-left: 150px;
    margin-right: 150px;
    margin-bottom: 50px;
  }

.form__legend {
    font-size: 18px;
    margin-top: 50px;
    color: #fff;
    border: 2px solid hsl(39, 83%, 45%);
    border-radius: 10px;
    padding: 10px;
  }

.form__flag {
    max-width: 45px;
    vertical-align: middle;
    border-radius: 25px;
  }

.form__value {
    color: white;
    text-align: center;
    padding: 8px;
    margin-left: 20px;
    margin-top: 15;
    border: 3px solid hsl(39, 83%, 45%);
    border-radius: 3px;
    background-color: hsla(227, 9%, 20%, 0.637);
  }
