.form__flag {
    max-width: 45px;
    vertical-align: middle;
    border-radius: 25px;
}

.form__value {
    color: white;
    text-align: center;
    padding: 8px;
    margin-left: 20px;
    margin-top: 15;
    border: 3px solid hsl(39, 83%, 45%);
    border-radius: 3px;
    background-color: hsla(227, 9%, 20%, 0.637);
}